alabaster 
appdirs 
asn1crypto
atomicwrites 
attrs
Babel
backports.entry-points-selectable 
backports.functools-lru-cache 
beniget 
bitstring 
bleach==6.1.0
blist 
bokeh==3.6.0
Bottleneck 
CacheControl
cachy 
certifi 
cffi 
chardet 
charset-normalizer
cleo
click 
cloudpickle 
colorama 
colorcet==3.1.0
commonmark 
contourpy 
crashtest 
cryptography 
cycler 
Cython 
dask==2024.10.0
dask-expr==1.1.16
datashader==0.16.3
deap 
decorator 
distlib 
distro
docopt 
docutils 
doit
dulwich 
ecdsa
ecos==2.0.14
editables
et_xmlfile==2.0.0
exceptiongroup 
execnet 
expecttest
filelock
flit_core 
fonttools 
fsspec 
future 
gast 
glob2 
gmpy2 
holoviews==1.19.1
html5lib 
idna 
imageio==2.36.0
imagesize 
importlib-metadata 
importlib-resources
iniconfig 
intervaltree 
intreehooks 
ipaddress 
jaraco.classes 
jeepney 
Jinja2 
joblib 
jsonschema 
keyring 
keyrings.alt 
kiwisolver 
lazy_loader==0.4
liac-arff 
linkify-it-py==2.0.3
llvmlite==0.42.0
locket==1.0.0
lockfile 
Markdown==3.7
markdown-it-py
MarkupSafe
matplotlib
mdit-py-plugins==0.4.2
mdurl
mock 
more-itertools 
mpmath 
msgpack 
multipledispatch==1.0.0
netaddr 
netifaces 
networkx 
numba==0.59.1
numexpr 
numpy 
openpyxl==3.1.5
osqp==0.6.7.post3
packaging 
pandas 
panel==1.5.3
param==2.1.1
partd==1.4.2
pastel 
pathlib2
pathspec 
pbr 
pexpect 
Pillow 
pkginfo
platformdirs 
pluggy 
ply 
pooch 
protobuf 
psutil 
ptyprocess 
py 
py-expression-eval
pyarrow==17.0.0
pyasn1 
pybind11
pycparser
pycryptodome 
pyct==0.5.0
pydevtool 
Pygments
pylev 
PyNaCl 
pynndescent==0.5.13
pyparsing 
pyrsistent 
pytest 
pytest-xdist
python-dateutil 
pythran 
pytoml 
pytorch-metric-learning==2.6.0
pytz 
pyviz_comms==3.0.3
PyYAML 
qdldl==0.1.7.post4
rapidfuzz 
regex 
requests 
requests-toolbelt 
rich 
rich-click 
scandir 
scikit-image==0.24.0
scikit-learn==1.5.2
scikit-survival==0.23.0
scipy==1.11.1
seaborn==0.13.2
SecretStorage 
semantic-version 
setuptools-scm 
shellingham
simplegeneric 
simplejson 
six 
snowballstemmer 
sortedcontainers 
Sphinx 
sphinx-bootstrap-theme 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
sympy 
tabulate 
threadpoolctl 
tifffile==2024.9.20
toml
tomli 
tomli_w 
tomlkit 
toolz==1.0.0
torch 
tornado==6.4.1
tqdm==4.66.5
typing_extensions 
tzdata
uc-micro-py==1.0.3
ujson
umap-learn==0.5.5
urllib3 
versioneer 
virtualenv 
wcwidth 
webencodings 
xarray==2024.10.0
xlrd 
xyzservices==2024.9.0
z3-solver 
zipfile36 
zipp 
